MyORM.Framework.WinScheduleUI/Service References/ScheduleJobServices/ScheduleJobService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/ScheduleJobService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyORM.Framework.ScheduleJob.Store" />
  <xs:element name="StartNewScheduleJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyORM.Framework.ScheduleJob.Store" minOccurs="0" name="jobData" nillable="true" type="q1:JobData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNewScheduleJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentRunningJobStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentRunningJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyORM.Framework.ScheduleJob.Store" minOccurs="0" name="GetCurrentRunningJobStatusResult" nillable="true" type="q2:ArrayOfRunningJobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>