MyORM.Framework.WinScheduleUI/Service References/ScheduleJobServices/ScheduleJobService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyORM.Framework.ScheduleJob.Store" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyORM.Framework.ScheduleJob.Store" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JobData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DLLName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExceuteWeek" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteDay" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExecuteTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPeriodJob" type="tns:PeriodJob" />
      <xs:element minOccurs="0" name="JobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastExecuteDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReTry" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsePeriodType" type="tns:PeriodType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobData" nillable="true" type="tns:JobData" />
  <xs:simpleType name="PeriodJob">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="IS_PERIOD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PeriodJob" nillable="true" type="tns:PeriodJob" />
  <xs:simpleType name="PeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BY_DAILY" />
      <xs:enumeration value="BY_WEEKLY" />
      <xs:enumeration value="BY_MONTHLY" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PeriodType" nillable="true" type="tns:PeriodType" />
  <xs:complexType name="ArrayOfRunningJobStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RunningJobStatus" nillable="true" type="tns:RunningJobStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunningJobStatus" nillable="true" type="tns:ArrayOfRunningJobStatus" />
  <xs:complexType name="RunningJobStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:JobStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunningJobStatus" nillable="true" type="tns:RunningJobStatus" />
  <xs:simpleType name="JobStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="Starting" />
      <xs:enumeration value="Running" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobStatus" nillable="true" type="tns:JobStatus" />
</xs:schema>