MyORM.Framework.WinScheduleUI/Service References/ScheduleJobServices/ScheduleJobWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScheduleJobWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/ScheduleJobService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/ScheduleJobService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/ScheduleJobService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyORM.Framework.ScheduleJob.Store" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScheduleJobService_StartNewScheduleJob_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewScheduleJob" />
  </wsdl:message>
  <wsdl:message name="IScheduleJobService_StartNewScheduleJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewScheduleJobResponse" />
  </wsdl:message>
  <wsdl:message name="IScheduleJobService_GetCurrentRunningJobStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentRunningJobStatus" />
  </wsdl:message>
  <wsdl:message name="IScheduleJobService_GetCurrentRunningJobStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentRunningJobStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IScheduleJobService">
    <wsdl:operation name="StartNewScheduleJob">
      <wsdl:input wsam:Action="http://tempuri.org/IScheduleJobService/StartNewScheduleJob" message="tns:IScheduleJobService_StartNewScheduleJob_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IScheduleJobService/StartNewScheduleJobResponse" message="tns:IScheduleJobService_StartNewScheduleJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRunningJobStatus">
      <wsdl:input wsam:Action="http://tempuri.org/IScheduleJobService/GetCurrentRunningJobStatus" message="tns:IScheduleJobService_GetCurrentRunningJobStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IScheduleJobService/GetCurrentRunningJobStatusResponse" message="tns:IScheduleJobService_GetCurrentRunningJobStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScheduleJobService" type="tns:IScheduleJobService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartNewScheduleJob">
      <soap:operation soapAction="http://tempuri.org/IScheduleJobService/StartNewScheduleJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRunningJobStatus">
      <soap:operation soapAction="http://tempuri.org/IScheduleJobService/GetCurrentRunningJobStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScheduleJobWcfService">
    <wsdl:port name="BasicHttpBinding_IScheduleJobService" binding="tns:BasicHttpBinding_IScheduleJobService">
      <soap:address location="http://localhost:9001/ScheduleJobService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>